@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind:400,700');

@import url('https://fonts.googleapis.com/css?family=Heebo:300, 400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
header {
	text-transform: uppercase;
}
body {
	background-color:#3E4744;
	font-size:16px;
	font-family: 'Heebo', sans-serif;
	font-weight:400;
	text-align:auto;
	color: #fff;

}
p {
	font-size:1em;
	width:30em;
	line-height: 1.5em;
}
h1 {
	color:#fff;
	font-family:'Droid Sans Mono', monospace;
	text-transform: uppercase;
    padding: 50px 30px 50px 80px;
}
h2 {
	text-align: center;
}
h3 {
	font-weight:700;
	text-transform: uppercase;
}
a {
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #fff;
}
ul {
    list-style-type: none;
}
img {
	width: 350px;
}
.tallimage {
	width:350px;
}
a {
	text-decoration: none;
	font-weight: normal;
}

#aboutme {
	float:;
	width:auto;

}
#projects {
	width:302m;
	margin:2em auto;
}
