@import url('https://fonts.googleapis.com/css?family=Heebo:300, 400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
a {
	color:#FFFBEC;
	text-decoration:none;
	border-bottom:1px solid #fff;
}
a:hover {
	color:#fff;
	outline:0.9px solid #fff;
	}

article {
	padding: 20px;
	width: 32.33%;
	float: left;
	min-height: 30em;
	margin: .5%;
}
article img {
	width:100%;
}
body {
	background-color:/*#3E4744*/#FFFBEC;
	font-size:16px;
	font-family: 'Heebo', sans-serif;
	font-weight:400;
	text-align:center;
	color: #2B2B28;
	}
/*
figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
*/
h1 {
	color:#FFFBEC;
	font-family:'Droid Sans Mono', monospace;
	text-transform: uppercase;
    padding: 150px 30px 50px 80px;
    font-size:5em;
}
h2 {
	text-align: center;
	font-size:1.5em;
	padding:40px 0 40px 0;
	text-transform: uppercase;
}
h3 {
	font-weight:700;
	text-transform: uppercase;
}
h4 {
	font-weight:300;
	text-transform: uppercase;
	}
header {
	text-align:center;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.1);
}

img {
	display:block;
	margin:0 auto;
	width:350px;
}

li{
    float: left;
    width: 50%;
    padding:10px;
}

nav {
	padding-top:5%;
}
nav a {
	text-transform: uppercase;
	padding: 10px;
	border-bottom: none;
	display:inline-block;
	margin:10px;
	color:#FFFBEC;
}
nav a:hover {
	outline: 0.9px solid #FFFBEC;
	color:#FFFBEC;
	}

nav a:link{
	color:#FFFBEC;
}
nav a:visited{
	color:#FFFBEC;
}
nav a: active{
	color:#FFFBEC;
}
p {
	font-size:1em;
	line-height: 1.5em;
	text-align:center;
}

ul {
    list-style: none;
    margin:0;
}

#aboutme {
	text-align:center;
	display:block;
	margin:2em auto;
	width:48em;
	padding:50px ;
}
#contactleft {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
}
#contactme {
	color:#FFFBEC;
	/*background-color: #2B2B28;*/
}
#contactright {
   background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
}
#lander{
	background:url(../images/heroimg.png) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:600px;
}
#projects {
	margin:2em auto;
	width: 1200px;

}
#projects a {
	color:#000;
}

#skills {
	margin:5em auto;
	width:50em auto;
	padding:2em 10em 4em 10em;
	background-color: #2B2B28;
	color:#FFFBEC;
}

#two_column{
	clear:both;
	padding:10%;
	background-color: #FFB7CF;
    border: 1px black solid;
    padding:5% 0 20% 0;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.contactlinks {
	padding:10px;
	border-bottom:none;	
}

.contactlinks a:hover {
	outline: 0.9px solid #fff;
	color:#fff;
	}

.emaillink {
	border-bottom: none;
	padding:10px;
}

