@import url('https://fonts.googleapis.com/css?family=Heebo:300, 400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
a {
	color:gray;
	text-decoration:none;
	border-bottom: 2px #fff;
	padding:0.5em;
}

a:hover {
	color:#fff;
	border-bottom: 1px;
	}

article {
	padding: 20px;
	width: 32.33%;
	float: left;
	min-height: 30em;
	margin: .5%;
}
img {
	width:100%;
	max-width:350px;
	display:block;
	margin:auto;
}
body {
	background-color:/*#3E4744*/ ;
	font-size:16px;
	font-family: 'Heebo', sans-serif;
	font-weight:400;
	text-align:center;
	color: #fff;
	}
a img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
a:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
h1 {
	color:#FFF;
	font-family:'Droid Sans Mono', monospace;
	text-transform: uppercase;
    padding: 1.5em 0 0;
    font-size:5em;
}
h2 {
	text-align: center;
	font-size:1.5em;
	padding:1em 0 1em 0;
	text-transform: uppercase;
	color:#fff;
}
h3 {
	font-weight:700;
	text-transform: uppercase;
}
h4 {
	font-weight:300;
	text-transform: uppercase;
	padding:0.5em;
	}
header {
	text-transform: uppercase;
	text-align:center;
    background-color: rgba(0, 0, 0, 0.1);
}
img {
	display:block;
	margin:0 auto;
	width:350px;
}
li{
    float: left;
    width: 50%;
    padding:0.8em;
}
nav {
	padding-top: 5%;
	font-size:1.1em;
}
nav a {
	padding: 10px;
	border-bottom: none;
	display:inline-block;
	margin:0 15px 0 15px;
	color:#fff;
}
nav a:hover {
	outline: 0.8px solid #fff;
	color:#fff;
	}
p {
	font-size:1em;
	line-height: 1.5em;
	text-align:center;
	color:#393A4F;
}
ul {
    list-style: none;
    margin:0;
}

#aboutme {
	display:block;
	margin:5em 13em 5em 13em;
	width:50em auto;
	padding:2em;
} 

#aboutme p {
	font-size:1.1em;
}
#background {
	width:1200px;
}

#contactleft {
    background-color:;
    text-align:right;
    padding:2em 8em 0 0;
    float: left;
    width: 50%;
}
#contactright {
   background-color:;
    padding: 10px;
    text-align:center;
    padding:0 8em 0 0;
    float: right;   
    width: 50%;
}
#lander{
	background:url(../images/nolame.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:600px;
	padding:20px 0;
}
#projects {
	background-color:/*#393A4F*/ #2A2E2B;
	padding-top: 2em;
}

#projects a{
	padding:0px;
	margin:0px;
}

#skills {
	margin:5em auto;
	width:50em auto;
	padding:2em 10em 4em 10em;
	background-color: #34355C;
	font-size:1.1em;
}

#two_column{
	clear:both;
	padding:10%;
	background-color:#34355C;
    padding:5% 0 20% 0;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.contactlinks {
	margin-bottom:.5em;
	display:inline-block;
}
.contactlinks a:hover {
	outline: 0.8px solid #fff;
	}

.emaillink a:hover {
	outline: 0.8px solid #fff;
}
.fa {
	font-size:1.3333em;
}
.navlinks a:hover{
	outline: 0.8px solid #fff;
}
