@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
header {
	text-transform: uppercase;
}
body {
	background-color:#6E54FF;
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	text-align:center;
	color: #fff;
}
h1 {
	color:#fff;
	font-family:'Montserrat', sans-serif;
	text-transform: uppercase;
    padding: 50px 30px 50px 80px;
}
h4 {
	font-weight:700;
}
a {
	color:#fff;
}
#slogan {
	font-style:italic;
}
ul {
    list-style-type: none;
}
img {
	width: 350px;
}
.tallimage {
	width:350px;
}
a {
	text-decoration: none;
	font-weight: normal;
}
#aboutme {width:50%
	float:left;
	padding-right:2em;}

